/*#### Import 'Karla' Fonts from Google ####*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/*#### Media screen queries for mobile screens below 620px and above 620px width ####*/
/*-- Screens above 620px width (Desktop) receive hover action on sign up button and curved corners --*/
@media screen and (min-width: 620px) {
    .main_container {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .subscription button {
        transition-duration: 0.4s;
    }
    
    .subscription {
        border-radius: 0px 0px 0px 8px;
    }

    .whyus {
        border-radius: 0px 0px 8px 0px;
    }
    .subscription button:hover {
        background-color: green;
    }
}
/*-- Screens below 619px wide set bottom box bottom left/right rounded corners, and reduce the top padding --*/
@media screen and (max-width: 619px) {
    
    .main_container {
        padding: 0.25rem 1.5rem 6.25rem 1.5rem;
    }
    
    .whyus {
       border-radius: 0px 0px 8px 8px;
    }
    
}

/*## Global Styles ##*/

body {
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
}

h3, h4, p {
    line-height: 1.2rem;
}

.main_container {
    max-width: 37.125rem;
    min-width: 23.4375;
    margin:auto;
}

.container {
    border-radius: 8px;
    box-shadow: 3px 3px 20px 5px rgb(198, 205, 211);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Styles for Join our community section */  

.community {
    padding: 20px;
    flex-grow: 2;
    background-color: white;
    border-radius: 8px 8px 0px 0px;
}

.community p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-top: 0.75rem;
    color: hsl(218, 22%, 67%);
}

.community h4 {
    color:hsl(71, 73%, 54%);
}

.community h3 {
    color: lightseagreen;
    font-weight: 700;
    font-size: 1.3rem;
}

/* Styles for Monthly Subscription section */  

.subscription {
background-color: lightseagreen;
padding: 20px 20px 30px 20px;
flex-grow: 1;
}

.subscription p {
    color:hsl(204, 43%, 93%);;
}

.subscription h3 {
    color: white;
    font-weight: 400;
}

.subscription h4 {
    color:hsl(204, 43%, 93%);
    font-weight: 400;
    font-size: 0.9rem;
    margin-top: 0.375rem;
    letter-spacing: 0.015rem;
}

.subscription button {
    background-color: yellowgreen;
    border-style: none;
    border-radius: 4px;
    width:100%;
    height: 2.5rem;
    color: white;
    background-color: hsl(71, 73%, 54%);
    box-shadow: 3px 3px 5px 5px rgb(28, 155, 148);
    font-weight: 700;
}

.buttonlink {
    color: white;
    text-decoration: none;
}

/*-- $29 text --*/
.bigdollar {
    color: white;
    font-weight: 700;
    font-size: 2.5rem;
}

/*-- lighter text 'per month' --*/
.thintext {
    color: rgb(175, 248, 238);
    font-weight: 400;
    font-size: 0.9rem;
    padding-left: 8px; 
}

/*#### Styles for Why Us section ####*/  

.whyus {
background-color: rgb(79, 179, 174);
padding: 20px 90px 20px 30px;
flex-grow: 1;
}

.whyus p {
  color: hsl(204, 43%, 93%);
  font-weight: 400;
  font-size: 0.75rem;
}

.whyus h3 {
    color: white;
    font-weight: 400;
}

/*## Footer Styles ##*/

.attribution {
    font-size: 0.8rem;
    text-align: center;
}


